<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/stylesheet.css">
    <title>TriPPlaner | Browse Itineraries</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>

    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-bg text-white">
        <div class="container-fluid">
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mx-3 text-white text-bold" href="index.html" >
                    <img src="../img/logo.png" width="80" height="80" alt="">TriPPlanner
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills pill-color">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="browse.html">Browse Itineraries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="plantrip.html">Plan Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="activities.html">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="mytrips.html">My Trips</a>
                    </li>
                </ul>

                
                
            </div>
            <div class="d-flex align-items-center">
                <a href="login.html" role="button" class="btn btn-success px-3 mb-1 me-2" aria-controls="#picker-editor" id="loginPage">Login</a>
                <a href="register.html" role ="button" class="btn btn-light mb-1 me-lg-3" aria-controls="#picker-editor" id="registerPage">Register</a>
                <span class="px-3" id="loginUser"></span>
                <a role="button" class="btn btn-bg mb-1 me-lg-3 text-white" aria-controls="#picker-editor" id="logoutBtn">Logout</a>
            </div>
        </div>
    </nav>

    <!-- Header Container -->
    <div class="container-flex bg-image" style="background-image: url(../img/amalfi.jpeg); height: 50vh;"> 
        <section class="container pt-5">
            <section class="mb-10 text-center text-md-start"> 
                <div class="row align-items-center"> 
                    <div class="col-md-6 mb-4 mb-md-0"> 
                        <h2 class="mb-4 display-3 fw-bold ls-tight"> 
                        <span class="text-orange">Browse</span> <br> <span class="text-white">Itineraries</span> 
                        </h2>
                    </div> 
                </div> 
            </section>
        </section>
    </div>
   
    <div class="container-fluid d-flex mt-5" id="wrapper">
        
        <div class="row">
            <!-- Sidebar-->
                <!-- <div class="border bg-white" id="sidebar-wrapper">
                    <h3 class="text-center">Filter</h3>
        
                    <h5 class="mx-3 mt-3 w-100">Budget</h5>
        
                    <div class="slidecontainer">
                        <input type="range" min="1000" max="5000" value="1000"
                            oninput="this.nextElementSibling.value = this.value">
                        <output>1000</output>
                    </div>
        
        
                    <h5 class="mx-3 mt-5 w-100">Countries</h5>
                    <div class="mx-3 w-100">
                        <input class="d-inline" type="checkbox"> Singapore <br>
                        <input class="d-inline" type="checkbox"> Singapore <br>
                        <input class="d-inline" type="checkbox"> Singapore <br>
                        <input class="d-inline" type="checkbox"> Singapore
                    </div>
        
                </div> -->
        </div>
        <div class="row">
            
            <div class="col">
                <!-- Page content wrapper-->
                <div id="page-content-wrapper">

                    <!-- Page content-->
                    <div id='app'>
                        <div class="container-fluid">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <itinerary-card></itinerary-card>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        
    </div>



    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
        import { getDatabase, ref, onValue, set, update, get, push, child } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-database.js";


        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyBTz07CsUuC8llduTdGo_e81mWjQcdw8oI",
            authDomain: "wad2-tripplanner.firebaseapp.com",
            projectId: "wad2-tripplanner",
            storageBucket: "wad2-tripplanner.appspot.com",
            messagingSenderId: "1078917579599",
            appId: "1:1078917579599:web:d59344d7b81a0cb1e97b3a",
            databaseURL: "https://wad2-tripplanner-default-rtdb.asia-southeast1.firebasedatabase.app/"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        // connect to the realtime database
        const db = getDatabase(app);




        /* AUTHENTICATION CODE: START */
        import { getAuth, onAuthStateChanged, signInWithPopup, signOut, GoogleAuthProvider } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-auth.js";

        const provider = new GoogleAuthProvider();
        const auth = getAuth();
        var loginUser = false; // Current Logged In User, false if not logged in.

        // when authentication status changed 
        onAuthStateChanged(auth, (user) => {
            if (user) {
                // User is signed in, see docs for a list of available properties 
                // https://firebase.google.com/docs/reference/js/firebase.User

                const uid = user.uid;
                // ... 
                loginUser = user;
                document.getElementById('loginPage').style.display = "none"
                document.getElementById('registerPage').style.display = "none"
                document.getElementById('loginUser').innerText = `Current User: ${user.email}`;

            } else {
                // User is signed out 
                // ... 
                loginUser = false;
                document.getElementById('logoutBtn').style.display = "none"
            }
        });



        // logout 
        document.getElementById('logoutBtn').addEventListener('click', function () {
            signOut(auth).then(() => {
                // Sign-out successful.
                loginUser = false;
                location.href = "browse.html"

            }).catch((error) => {
                // An error happened. 
                console.log(error);
            });
        }); /* AUTHENTICATION CODE: END */


        var itinerary_key_list = []
        var itinerary_list = []
        var itineraryCatalog = {}


        /* DISPLAY ITINERARIES*/
        onValue(ref(db, 'ItinerariesCatalog/'), (snapshot) => {

            //console.log(snapshot.val())
            var counter = 1

            for (var itinerary_key in snapshot.val()) {
                var itinerary_obj = snapshot.val()[itinerary_key]
                var itinerary = itinerary_obj.itinerary

                // console.log(itinerary_key)
                // console.log(itinerary_obj)
                // console.log(itinerary)

                itinerary_key_list.push(itinerary_key)
                itinerary_list.push(itinerary_obj)

                Object.assign(itineraryCatalog, { [itinerary_key]: itinerary_obj })
                // itinerary_list = itinerary_key_list.map(value => ({[value] : itinerary_obj}))

                // itinerary_list.push({itinerary_key:itinerary_obj})

            }

            console.log(itinerary_key_list)
            // console.log(itinerary_key_list[0])
            console.log(itinerary_list)
            console.log(itineraryCatalog)


            const app = Vue.createApp({
                data() {
                    return {
                        key: itineraryCatalog
                    };
                }, // methods
                methods: {
                    storeKey() {
                        var currentKey = this.value
                        alert(currentKey)
                    }
                }

            });


            app.component('itinerary-card', {
                // props: [ 'prop1', 'prop2' ],
                props: {
                    // prop1: String, 
                    // prop2: Number, 
                }, // props

                data() {
                    return {
                        catalog: itineraryCatalog,
                    }
                }, // data

                template: `
                                    <div v-for="(item, key) in catalog" class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="card h-100">

                                            <div class="card-body">
                                                <h5 class="card-title">{{item.ItineraryName}}</h5>
                                                <p class="card-text">{{item.Description}}</p>
                                                <form action="itinerary.html" method="get">
                                                    <input type="hidden" name='key' v-bind:value='key' >
                                                    <button class="btn btn-bg text-white" input type="submit" value="See More">See More</button>
                                                </form> 
                                            </div>
                
                                            <div class="card-footer">
                                                <h4 class="text-muted">$ {{item.Budget}}</h4>
                                            </div>

                                        </div>
                                    </div>`
            });

            app.mount('#app');

        })




    </script>

</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>


</html>