<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriPPlaner | Plan Trip</title>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html">TriPPlaner</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="itineraries.html">Browse Itineraries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="plantrip.html">Plan Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="activities.html">Activities</a>
                    </li>
                </ul>

                
                <div class="d-flex">
                    <a href="login.html" role="button" class="btn btn-primary px-3 mb-1 me-2" aria-controls="#picker-editor">Login</a>
                    <a href="register.html" role ="button" class="btn btn-primary mb-1 me-lg-3" aria-controls="#picker-editor">Register</a>
                </div>
            </div>
        </div>
      </nav>

      <div id="app" class="container mt-5 ms-1">

        <div id="row">
            <div class="col">
                <div class="row" v-for="(item, index) of trip">
                    <div class="justify-content-end d-flex">
                        <button class="btn btn-primary mb-3" v-on:click="addDay(index)">Add Day</button>
                    </div>
                    <div class="bg-dark text-light">
                        <b style="font-size : 20px"> {{'Day ' + (index + 1)}}</b>
                        <button class="btn btn-danger float-end" v-on:click="del(index)">Delete</button>
                    </div>
                    <table class='table table-bordered table-striped text-center'>
                        <tr>
                            <th>
                                Time
                            </th>
                            <th>
                                Activity
                            </th>
                            <th>
                                Address
                            </th>
                        </tr>
                        <tr v-for="(item2, index2) in item">
                            <td>
                                {{index2}}
                            </td>
                            <td>
                                <input type="text" class="form-control" v-model="item2[0]">
                            </td>
                            <td>
                                <input type="text" class="form-control"  v-model="item2[1]">
                            </td>
                        </tr>
                    </table>
                
                </div>
                <div class="justify-content-end d-flex">
                    <button class="btn btn-primary mb-3" v-on:click="addDay('new')">Add Day</button>
                </div>
            </div>
            <div class="col">
                <div class="row " v-for="(item, index) in amazonItems">
                    <div class="card" style="width: 18rem;">
                        <img :src="item.image" style="height: 200px" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> {{ item.title }} </h5>
                          <p class="card-text"> {{ '$' + item.price }} </p>
                          <a :href="item.link" class="btn btn-primary">Buy at Amazon</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

        <script>

            const app = Vue.createApp({ 
            data() { 
                return { 
                    winter: ['winter jacket', 'winter heat packs', 'Universal Travel Adapter', 'Neck Pillow'],
                    summer: ['sunglass', 'sunscreen lotion', 'Universal Travel Adapter', 'Neck Pillow'], 
                    normal: ['Universal Travel Adapter', 'Neck Pillow'],
                    date: {month: '4', day:'15'},
                    lat: '',
                    lon: '',
                    amazonItems: [],
                    location: 'moscow. russia',
                    trip: [],
                };
            }, // data
            // computed: { 
            //     derivedProperty() {
            //         return false;
            //     }  
            // }, // computed
             created() {
                //this.weather()
             },
            // mounted() { 
            // },
            methods: {
                rainForest() {  
                    const rainForestApi = 'https://api.rainforestapi.com/request'
                    if (this.temp < 18) {
                        search_item = this.winter 
                    }
                    else if (this.temp > 30) {
                        search_item = this.summer
                    }
                    else {
                        search_item = this.normal
                    }
                    for (item of search_item) {
                        axios.get(rainForestApi, {
                            params: {
                                api_key: "440E156E46C4488682079EDE9AA3CA55",
                                search_term: item,
                                amazon_domain: 'amazon.com',
                                type: "search"
                            }
                        })
                            .then(response => {
                                console.log(response.data);
                                returnResult = {}
                                returnResult.image = response.data.search_results[0].image
                                returnResult.price = response.data.search_results[0].price.value
                                returnResult.title = response.data.search_results[0].title
                                returnResult.link = response.data.search_results[0].link
                                this.amazonItems.push(returnResult)
                                console.log(this.amazonItems)
                            })
                            .catch( error => {
                                console.log(error.message);
                            });
                    }
                    
                },
                weather() {
                    weatherApiKey = '6KW9AM26XV6KVJGBM4Q2UK845'
                    weatherApiUrl = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/history?'
                    axios.get(weatherApiUrl, {
                        params: {
                            locations:  this.location,
                            aggregateHours: 24,
                            unitGroup: 'metric',
                            startDateTime: '2019-' + this.date.month + '-' + this.date.day +'T00:00:00',
                            endDateTime: '2019-12-15T00:00:00',
                            contentType: 'json',
                            key: weatherApiKey
                        }
                    })
                        .then(response => {
                            console.log(response.data);
                            let country = Object.values(response.data.locations)[0]
                            this.temp = country.values[0].temp
                            console.log(this.temp)
                            //this.rainForest()
                        })
                        .catch( error => {
                            console.log(error.message);
                           // this.rainForest()
                        });
                },
                addDay(index) {
                        new_arr = {}

                        new_arr['0000 - 0100'] = ['', '']
                        new_arr['0100 - 0200'] = ['', '']
                        new_arr['0200 - 0300'] = ['', '']
                        new_arr['0300 - 0400'] = ['', '']
                        new_arr['0400 - 0500'] = ['', '']
                        new_arr['0500 - 0600'] = ['', '']
                        new_arr['0600 - 0700'] = ['', '']
                        new_arr['0700 - 0800'] = ['', '']
                        new_arr['0800 - 0900'] = ['', '']
                        new_arr['0900 - 1000'] = ['', '']
                        new_arr['1000 - 1100'] = ['', '']
                        new_arr['1100 - 1200'] = ['', '']
                        new_arr['1200 - 1300'] = ['', '']
                        new_arr['1300 - 1400'] = ['', '']
                        new_arr['1400 - 1500'] = ['', '']
                        new_arr['1500 - 1600'] = ['', '']
                        new_arr['1600 - 1700'] = ['', '']
                        new_arr['1700 - 1800'] = ['', '']
                        new_arr['1800 - 1900'] = ['', '']
                        new_arr['1900 - 2000'] = ['', '']
                        new_arr['2000 - 2100'] = ['', '']
                        new_arr['2100 - 2200'] = ['', '']
                        new_arr['2200 - 2300'] = ['', '']
                        new_arr['2300 - 0000'] = ['', '']

                        if(index == 'new') {
                            this.trip.push(new_arr)
                        }
                        else {
                            this.trip.splice(index, 0, new_arr)
                        }
                        console.log(this.trip)
                    },
                    del(day) {
                        this.trip.splice(day, 1)
                    }
            } // methods
        });
        const vm = app.mount('#app');
        </script>
 
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


</html>